<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" >
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h2>Login</h2>
<div>
    <form method="post" action="enter_login">
        <input name="username" placeholder="Username"/>
        <input name="password" placeholder="Password"/>
        <input type="submit"/>
    </form>
</div>
<p><a href="/registration">Registration</a></p>
<p><a href="/logout">Logout</a></p>
</div>
</body>
</html>
